.background-color	{
	-fx-background-color: #FCFBF4;
}



.button-mainmenu	{
	-fx-background-color: white;
	-fx-background-repeat: no-repeat;
    -fx-background-size: 80%;
    -fx-background-radius: 100;
    
    -fx-padding: 110 0 0 0;
    
    -fx-text-fill: black;
    -fx-pref-width: 170px;
    -fx-pref-height: 170px;
    
    -fx-font-family: DejaVu Sans;
    -fx-font-weight: bold;
    -fx-font-size: 28px;
	-fx-effect: dropshadow(gaussian , #669933 , 15, 0.0 , 0 , 0 );
}



.combobox-bevel-gray	{
    -fx-background-color: 
	    linear-gradient(#f6f6f6, #d9d9d9),
	    linear-gradient(#fafafa 0%, #d3d3d3 20%, #d6d6d6 100%),
	    linear-gradient(#dddddd 0%, #f9f9f9 50%);
    -fx-background-radius: 8,7,6;
    -fx-background-insets: 0,1,2;
    -fx-text-fill: black;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}



.combobox-bevel-gray:focused	{
	-fx-border-radius:8,7,6;
	-fx-border-color: #339966;
}



.button-bevel-gray	{
    -fx-background-color: 
	    linear-gradient(#f6f6f6, #d9d9d9),
	    linear-gradient(#fafafa 0%, #d3d3d3 20%, #d6d6d6 100%),
	    linear-gradient(#dddddd 0%, #f9f9f9 50%);
    -fx-background-radius: 10,10,10;
    -fx-background-insets: 0,1,2;
    -fx-text-fill: black;
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}



.button-bevel-gray:focused	{
	-fx-border-radius:10,10,10;
	-fx-border-color: #339966;
}



#helm-button	{
	-fx-background-color: 
	    transparent linear-gradient(#f6f6f6, #d9d9d9),
	    linear-gradient(#fafafa 0%, #d3d3d3 20%, #d6d6d6 100%),
	    linear-gradient(#ffc700 10%, gold 30%, #ffef97 60%);
	-fx-font-size: 1.02em;
	-fx-font-weight: bold; 
}



#ruestung-button	{
	-fx-text-fill: white;
	-fx-background-color: 
	    transparent linear-gradient(#f6f6f6, #d9d9d9),
	    linear-gradient(#fafafa 0%, #d3d3d3 20%, #d6d6d6 100%),
	    linear-gradient(#0e9954 10%, #339966 30%, #6bb48f 60%);
	-fx-font-size: 1.02em;
	-fx-font-weight: bold; 
}



#direkt-button	{
	-fx-background-color: 
	    transparent linear-gradient(#f6f6f6, #d9d9d9),
	    linear-gradient(#fafafa 0%, #d3d3d3 20%, #d6d6d6 100%),
	    linear-gradient(#ef6e00 10%, darkorange 30%, #ffba66 60%);
	-fx-font-size: 1.02em;
	-fx-font-weight: bold; 
}



#block-button	{
	-fx-background-color: 
	    transparent linear-gradient(#f6f6f6, #d9d9d9),
	    linear-gradient(#fafafa 0%, #d3d3d3 20%, #d6d6d6 100%),
	    transparent linear-gradient(#ef6e00 10%, darkorange 30%, #ffba66 60%), 
	    radial-gradient(center -50% 50%, radius 270%,white 10%, #baff40 30%,#9bf300 40%, #80c800 60%);
	-fx-font-size: 1.02em;
	-fx-font-weight: bold; 
}



#aoe-button	{
	-fx-background-color:
	    linear-gradient(#f6f6f6, #d9d9d9),
	    linear-gradient(#fafafa 0%, #d3d3d3 20%, #d6d6d6 100%),
	    linear-gradient(#dddddd 0%, #f9f9f9 50%);
	-fx-font-size: 1.02em;
	-fx-font-weight: bold;
    -fx-effect: dropshadow( gaussian , #ffc700, 15, 0.0 , 0 , 1);
}



.menubar-bevel-gray	{
    -fx-background-color:
	    linear-gradient(#bbbbbb 0%, #f9f9f9 50%);
    -fx-background-insets: 1;
    -fx-text-fill: black;
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}



.button-green	{
    -fx-background-color:
        linear-gradient(#f0ff35, #669933),
        radial-gradient(center 50% -40%, radius 200%, #b8ee36 45%, #80c800 50%);
    -fx-background-radius: 6, 5;
    -fx-background-insets: 0, 1;
    -fx-effect: dropshadow( gaussian, rgba(0,0,0,0.4) , 5, 0.0 , 0 , 1 );
    -fx-text-fill: #395306;
}



.button-green:focused	{
	-fx-border-radius:6,5;
	-fx-effect: dropshadow(gaussian, #669933 , 25, 0.0 , 0 , 1 );
}


.tableview-mainmenu	{
	-fx-background-color: #FCFBF4;
}



.tableview-mainmenu:focused	{
}



.listview-background	{
	-fx-background-color: #FCFBF4;
	-fx-border-color: darkgrey;
	-fx-border-radius: 2%;
}



.listview-background:focused	{
	-fx-border-color: #669933;
}



.textfield-background	{
	-fx-background-color: #FCFBF4;
	-fx-border-color: darkgrey;
	-fx-prompt-text-fill: rgb(107,107,107);
	-fx-border-radius: 2%;
}



.button-mainmenu:focused	{
	-fx-border-radius:100em;
	-fx-effect: dropshadow( three-pass-box , #669933 , 15, 0.0 , 0 , 1 );
}



.button-mainmenu:hover	{
	-fx-text-fill: #339966;
}



.button-mainmenu:focused	{
	-fx-border-radius:100em;
	-fx-effect: dropshadow( gaussian , #669933 , 35, 0.0 , 0 , 1 );
}



.button-mainmenu:pressed	{
  -fx-text-fill: #339966;
  -fx-border-color: #339966;
}



.button-kampf	{
	-fx-font-size: 30px;
	-fx-padding: 110 0 0 0;
	-fx-background-position: 30% 10%;
    -fx-background-image: url('/img/Hauptmenu_rund/kaempfer_rund_v1.png');   
}



.button-haendler	{
	-fx-background-position: 40% 30%;
	-fx-background-image: url('/img/Hauptmenu_rund/schwerter_rund_v1.png');
}



.button-wuerfeln	{
	-fx-background-position: 49% 40%;
	-fx-background-image: url('/img/Hauptmenu_rund/wuerfel_rund_v1.png');
}



.button-gruppen	{
	-fx-padding: 98 0 0 0;
	-fx-background-position: 50% 30%;
    -fx-background-size: 60%;
	-fx-background-image: url('/img/gruppe.jpg');
	-fx-font-size: 14px;
}



/* 
.button-charaktergenerator	{
	-fx-background-image: url('/img/kneipe.jpg');
	-fx-font-size: 14px;
}
*/



.button-wuerfel	{
	-fx-pref-width: 100px;
	-fx-pref-height: 40px;
	-fx-font-size: 16px;
}



#hauptmenu-splitpane.split-pane .split-pane-divider	{
   	-fx-border-color: transparent ladder(
        #704214,
        black 20%,
        derive(#704214,-30%) 30%) transparent #7E552B;
	-fx-background-color: linear-gradient(
        to right,
        ladder(#704214, 
               derive(#704214,80%) 60%, 
               white 82%) 0%,
        ladder(#704214, 
               derive(#704214,20%) 10%, 
               derive(#704214,-10%) 80%) 100%
    );
	
}



.dead-gegner-cell {
	-fx-background-color: yellow;
}



.dead-gegner-cell:filled:selected:focused, .dead-gegner-cell:filled:selected, .dead-gegner-cell:selected  {
	-fx-background-color: orange;
	-fx-text-fill: black;
}