.background-color	{
	-fx-background-color: #FCFBF4;
}



.combobox-bevel-gray	{
    -fx-background-color: 
	    linear-gradient(#f6f6f6, #d9d9d9),
	    linear-gradient(#fafafa 0%, #d3d3d3 20%, #d6d6d6 100%),
	    linear-gradient(#dddddd 0%, #f9f9f9 50%);
    -fx-background-radius: 8,7,6;
    -fx-background-insets: 0,1,2;
    -fx-text-fill: black;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}



.combobox-bevel-gray:focused	{
	-fx-border-radius:8,7,6;
	-fx-border-color: #339966;
}



.button-bevel-gray	{
    -fx-background-color: 
	    linear-gradient(#f6f6f6, #d9d9d9),
	    linear-gradient(#fafafa 0%, #d3d3d3 20%, #d6d6d6 100%),
	    linear-gradient(#dddddd 0%, #f9f9f9 50%);
    -fx-background-radius: 10,10,10;
    -fx-background-insets: 0,1,2;
    -fx-text-fill: black;
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}



.button-bevel-gray:focused	{
	-fx-border-radius:10,10,10;
	-fx-border-color: #339966;
}



.menubar-bevel-gray	{
    -fx-background-color:
	    linear-gradient(#bbbbbb 0%, #f9f9f9 50%);
    -fx-background-insets: 1;
    -fx-text-fill: black;
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}



.button-green	{
    -fx-background-color:
        linear-gradient(#f0ff35, #669933),
        radial-gradient(center 50% -40%, radius 200%, #b8ee36 45%, #80c800 50%);
    -fx-background-radius: 6, 5;
    -fx-background-insets: 0, 1;
    -fx-effect: dropshadow( gaussian, rgba(0,0,0,0.4) , 5, 0.0 , 0 , 1 );
    -fx-text-fill: #395306;
}



.button-green:focused	{
	-fx-border-radius:6,5;
	-fx-effect: dropshadow(gaussian, #669933 , 25, 0.0 , 0 , 1 );
}



.listview-background	{
	-fx-background-color: #FCFBF4;
	-fx-border-color: darkgrey;
}



.listview-background:focused	{
	-fx-border-color: #669933;
}



.tableview-background	{
	-fx-background-color: #FCFBF4;
	-fx-border-color: darkgrey;
}



.tableview-background:focused	{
	-fx-border-color: #669933;
}



.textfield-background	{
	-fx-border-color: darkgrey;
	-fx-prompt-text-fill: rgb(107,107,107);
	-fx-background-color: ladder(#fcfbf4,transparent 0%,
        derive(#fcfbf4,40%)   5%,
        derive(#fcfbf4,60%)  70%,
        derive(#fcfbf4,100%) 85%,
        derive(#fcfbf4,100%) 97%,
        derive(#fcfbf4,-10%) 97.5%), 
    	ladder(#fcfbf4, black 10%,derive(#fcfbf4, -15%) 30%), 
    	#fcfbf4;
    -fx-background-insets: 0, 1, 2;
    -fx-background-radius: 3, 2, 2;
    -fx-padding: 0.25em 0.416667em  0.333333em 0.416667em; /* 3 5 4 5 */
    -fx-cursor: text;
}



.text-field-background:focused {
    -fx-background-color: #669933, ladder(#fcfbf4, black 10%,derive(#fcfbf4, -15%) 30%), #fcfbf4;
    -fx-background-insets: -0.4, 1, 2;
    -fx-background-radius: 3.4, 2, 2;
    -fx-prompt-text-fill: transparent;
}



.button-wuerfel	{
	-fx-pref-width: 100px;
	-fx-pref-height: 40px;
	-fx-font-size: 16px;
}



.tab-pane > .tab-header-area > .tab-header-background {
    -fx-background-color:  #fcfbf4;
    -fx-effect: innershadow(two-pass-box , rgba(0,0,0,0.6) , 4, 0.0 , 0 , 0);
}



.dead-gegner-cell {
	-fx-background-color: yellow;
}



.dead-gegner-cell:filled:selected:focused, .dead-gegner-cell:filled:selected, .dead-gegner-cell:selected  {
	-fx-background-color: orange;
	-fx-text-fill: black;
}



.rectangle-interior	{
	-fx-fill: linear-gradient(
        to right,
        ladder(#704214, 
               derive(#704214,80%) 60%, 
               white 82%) 0%,
        ladder(#704214, 
               derive(#704214,20%) 10%, 
               derive(#704214,-10%) 80%) 100%
    );
}



.rectangle-exterioir-right	{
	-fx-fill: ladder(
        #704214,
        black 20%,
        derive(#704214,-30%) 30%) transparent #7E552B;
}



.rectangle-exterioir-left	{
	-fx-fill: #7E552B;
}



.rectangle-interior-vertical	{
	 -fx-fill: 
		linear-gradient(
		    to bottom,
		    ladder(#704214, 
		           derive(#704214,80%) 60%, 
		           white 82%) 0%,
		    ladder(#704214, 
		           derive(#704214,20%) 10%, 
		           derive(#704214,-10%) 80%) 100%
		);
}