.background-gegnerrunde	{
	-fx-background-color: #fcfbf4;
}

.button-angriff	{
	-fx-background-color: #fcfbf4;
	-fx-background-repeat: no-repeat;
    -fx-background-size: 100%;
    -fx-text-fill: black;
    -fx-font-family: DejaVu Sans;
	-fx-background-image: url('/img/Schwerter/00.png');
	-fx-font-size: 18px;
}



.column-tableview	{
	-fx-alignment: center;
	-fx-text-alignment: center;
}



.button-angriff:focused	{
	-fx-underline: true;
}



.button-angriff:hover	{
	-fx-underline: true;
	-fx-background-image: url('/img/Schwerter/01.png');
}



.button-angriff:pressed	{
	-fx-background-image: url('/img/Schwerter/02.png');
}
