.button-mainmenu	{
	-fx-background-color: white;
	-fx-background-repeat: no-repeat;
    -fx-background-size: 80%;
    -fx-background-radius: 100;
    
    -fx-padding: 110 0 0 0;
    
    -fx-text-fill: black;
    -fx-pref-width: 170px;
    -fx-pref-height: 170px;
    
	
	-fx-font-family: Papyrus;
    -fx-font-weight: bold;
    -fx-font-size: 28px;
	-fx-effect: dropshadow(gaussian , #669933 , 15, 0.0 , 0 , 0 );
	-fx-border-radius:100%;
}



.button-mainmenu:hover	{-fx-text-fill: #339966;
	-fx-effect: dropshadow( gaussian , #669933 , 25, 0.0 , 0 , 0 );
}



.button-mainmenu:focused	{
	-fx-effect: dropshadow( gaussian , #669933 , 35, 0.0 , 0 , 0 );
}



.button-mainmenu:pressed	{
	-fx-text-fill:#339966;
	-fx-effect: dropshadow( gaussian , #669933 , 15, 0.0 , 0 , -5 );
	-fx-border-radius: 110%;
	-fx-border-color: linear-gradient( derive(#669933, -10%) 0%, derive(#669933, 100%)  50%, derive(#669933, -10%));
	-fx-border-width: 2px;
	-fx-border-style: solid;
}



.button-kampf	{
	-fx-font-size: 1.15em;
	-fx-padding: 87.0px 0.0px 0.0px 0.0px; 
	-fx-background-position: 45% 0%;
    -fx-background-size: 95%;
    -fx-background-image: url('/img/Hauptmenue_Buttons/Anakok-die-Kriegerin-ohne-text.png');   
}



.button-haendler	{
	-fx-font-size: 1.15em;
	-fx-padding: 84.0px 0.0px 0.0px 0.0px; 
	-fx-background-position: 40% 0%;
    -fx-background-size: 95%;
	-fx-background-image: url('/img/Hauptmenue_Buttons/Girikiri_der_Haendler-ohne-text.png');
}



.button-wuerfeln	{
	-fx-font-size: 1.15em;
	-fx-padding: 80.0px 0.0px 0.0px 0.0px; 
	-fx-background-position: 20% 0%;
    -fx-background-size: 95%;
	-fx-background-image: url('/img/Hauptmenue_Buttons/Ceto_der_Wuerfelspieler-ohne-text.png');
}



.button-gruppen	{
	-fx-font-size: 1.15em;
	-fx-padding: 79.0px 0.0px 0.0px 0.0px;  
	-fx-background-position: -10% 0%;
    -fx-background-size: 95%;
   	-fx-background-image: url('/img/Hauptmenue_Buttons/Zuuma_die_Wirtin-ohne-text.png');
 }



.tableview-mainmenu	{
	-fx-background-color: #FCFBF4;
}



.tableview-mainmenu:focused	{
	
}



#hauptmenu-splitpane.split-pane .split-pane-divider	{
   	-fx-border-color: transparent ladder(
        #704214,
        black 20%,
        derive(#704214,-10%) 30%) transparent #7E552B;
	-fx-background-color: linear-gradient(
        to right,
        ladder(#704214, 
               derive(#704214,90%) 60%, 
               white 82%) 0%,
        ladder(#704214, 
               derive(#704214,40%) 10%, 
               derive(#704214,10%) 80%) 100%
    );
    -fx-background-image:url('/img/vine_8.png');
    -fx-background-repeat: no-repeat round;
}



.rectangle-mainmenu-interior	{
	-fx-fill: linear-gradient(
        to right,
        ladder(#704214, 
               derive(#704214,80%) 60%, 
               white 82%) 0%,
        ladder(#704214, 
               derive(#704214,20%) 10%, 
               derive(#704214,-10%) 80%) 100%
    );
}



.rectangle-mainmenu-exterioir-right	{
	-fx-fill: ladder(
        #704214,
        black 20%,
        derive(#704214,-30%) 30%) transparent #7E552B;
}



.rectangle-mainmenu-exterioir-left	{
	-fx-fill: #7E552B;
}


