/*
#helm-button {
 -fx-background-color: 
     transparent linear-gradient(#f6f6f6, #d9d9d9),
     linear-gradient(#fafafa 0%, #d3d3d3 20%, #d6d6d6 100%),
     linear-gradient(#ffc700 10%, gold 30%, #ffef97 60%);
 -fx-font-size: 1.02em;
 -fx-font-weight: bold; 
}
#ruestung-button {
 -fx-text-fill: white;
 -fx-background-color: 
     transparent linear-gradient(#f6f6f6, #d9d9d9),
     linear-gradient(#fafafa 0%, #d3d3d3 20%, #d6d6d6 100%),
     linear-gradient(#0e9954 10%, #339966 30%, #6bb48f 60%);
 -fx-font-size: 1.02em;
 -fx-font-weight: bold; 
}
#direkt-button {
 -fx-background-color: 
     transparent linear-gradient(#f6f6f6, #d9d9d9),
     linear-gradient(#fafafa 0%, #d3d3d3 20%, #d6d6d6 100%),
     linear-gradient(#ef6e00 10%, darkorange 30%, #ffba66 60%);
 -fx-font-size: 1.02em;
 -fx-font-weight: bold; 
}
 */
#ruestung-button	{
	-fx-background-color: 
	    transparent linear-gradient(#f6f6f6, #d9d9d9),
	    linear-gradient(#fafafa 0%, #d3d3d3 20%, #d6d6d6 100%),
	    linear-gradient(#ffd559 20%, #f5ff9d 50%, #fff7cb 70%);
	-fx-font-size: 1.02em;
	-fx-font-weight: bold; 
}

#helm-button	{
	-fx-background-color: 
	    transparent linear-gradient(#f6f6f6, #d9d9d9),
	    linear-gradient(#fafafa 0%, #d3d3d3 20%, #d6d6d6 100%),
	    linear-gradient(#ffb770 20%, #ffd559 50%, #fff7cb 70%);
	-fx-font-size: 1.02em;
	-fx-font-weight: bold; 
}

#direkt-button	{
	-fx-background-color: 
	    transparent linear-gradient(#f6f6f6, #d9d9d9),
	    linear-gradient(#fafafa 0%, #d3d3d3 20%, #d6d6d6 100%),
	    linear-gradient(#ff9933 20%, #ffb770 50%, #ffeacd 70%);
	-fx-font-size: 1.02em;
	-fx-font-weight: bold; 
}


#helm-button:hover	{
	-fx-effect: dropshadow(gaussian, #669933, 10, 0.0 ,0.0, 0.0);
	-fx-text-fill: black;
}



#helm-button:focused	{
	-fx-effect: dropshadow(gaussian, #669933, 20, 0.0 ,0.0, 0.0);
}



#helm-button:pressed	{
	-fx-effect: dropshadow(gaussian, gold, 20, 0.0 ,0.0, 0.0);
}



#ruestung-button:hover	{
	-fx-effect: dropshadow(gaussian, #669933, 10, 0.0 ,0.0, 0.0);
	-fx-text-fill: black;
}



#ruestung-button:focused	{
	-fx-effect: dropshadow(gaussian, #669933, 20, 0.0 ,0.0, 0.0);
}



#ruestung-button:pressed	{
	-fx-effect: dropshadow(gaussian, #339966, 20, 0.0 ,0.0, 0.0);
}







#direkt-button:hover	{
	-fx-effect: dropshadow(gaussian, #669933, 10, 0.0 ,0.0, 0.0);
	-fx-text-fill: black;
}



#direkt-button:focused	{
	-fx-effect: dropshadow(gaussian, #669933, 20, 0.0 ,0.0, 0.0);
}



#direkt-button:pressed	{
	-fx-effect: dropshadow(gaussian, darkorange, 20, 0.0 ,0.0, 0.0);
}


/* 
#block-button	{
	-fx-background-color: 
	    transparent linear-gradient(#f6f6f6, #d9d9d9),
	    linear-gradient(#fafafa 0%, #d3d3d3 20%, #d6d6d6 100%),
	    transparent linear-gradient(#ef6e00 10%, darkorange 30%, #ffba66 60%), 
	    radial-gradient(center -50% 50%, radius 270%,white 10%, #baff40 30%,#9bf300 40%, #80c800 60%);
	-fx-font-size: 1.02em;
	-fx-font-weight: bold; 
} */



#block-button:hover	{
	-fx-effect: dropshadow(gaussian, #669933, 10, 0.0 ,0.0, 0.0);
	-fx-text-fill: black;
}



#block-button:focused	{
	-fx-effect: dropshadow(gaussian, #669933, 20, 0.0 ,0.0, 0.0);
}



#block-button:pressed	{
	-fx-effect: dropshadow(gaussian, salmon, 20, 0.0 ,0.0, 0.0);
}



#aoe-button	{
	-fx-background-color:
	    linear-gradient(#f6f6f6, #d9d9d9),
	    linear-gradient(#fafafa 0%, #d3d3d3 20%, #d6d6d6 100%),
	    linear-gradient(#dddddd 0%, #f9f9f9 50%);
/* 	-fx-font-size: 1.02em;
	-fx-font-weight: bold; */
    -fx-effect: dropshadow( gaussian , #ffc700, 15, 0.0 , 0 , 1);
}



#aoe-button:hover	{
	-fx-effect: dropshadow(gaussian, orange, 15, 0.0 ,0.0, 0.0);
}



#aoe-button:focused	{
	-fx-effect: dropshadow(gaussian, darkorange , 15, 0.0 ,0.0, 0.0);
}



#aoe-button:pressed	{
	-fx-effect: dropshadow(gaussian, crimson, 20, 0.0 ,0.0, 0.0);
}
