/*704214 is the hex value of Sepia.*/
/*FCFBF4 is the hex value of Background-beige.*/
/*669933 is the hex value of Hans-green.*/



.listview-text	{
	-fx-alignment: left;
}



#left-listview.list-view > .virtual-flow > .clipped-container > .sheet > .list-cell {
    -fx-alignment:center-right;
}



#right-listview.list-view > .virtual-flow > .clipped-container > .sheet > .list-cell {
    -fx-padding:0.0px 0.0px 0.0px 40.0px;
}




#right-table-teilnehmer-auswahl.table-view {
	/*-fx-background-color: #FCFBF4;
	-fx-border-color: #704214;
	-fx-border-radius: 2%;*/
}	
	
	
#right-table-teilnehmer-auswahl.table-view .column-header-background {
	-fx-background-color: #fcfbf4;
	-fx-background-radius: 5px 5px 0px 0px;
}



#right-table-teilnehmer-auswahl.table-view .filler	{
	-fx-background-color: #fcfbf4;
	-fx-background-radius: 5px 5px 0px 0px;
}



#kreis-column	{
	-fx-background-radius: 5px 0px 0px 0px;
}



#name-column	{
	-fx-background-radius: 0px 5px 0px 0px;
}



#left-table-teilnehmer-auswahl.table-view {
	/*-fx-background-color: #FCFBF4;
	-fx-border-color: #704214;
	-fx-border-radius: 2%;*/
}



#left-table-teilnehmer-auswahl.table-view .column-header-background {
	-fx-background-color: #fcfbf4;
	-fx-background-radius: 5px 5px 0px 0px;
}



#left-table-teilnehmer-auswahl.table-view .filler	{
	-fx-background-color: #fcfbf4;
	-fx-background-radius: 5px 5px 0px 0px;
}



#gegnertyp-column	{
	-fx-background-radius: 5px 0px 0px 0px;
	-fx-alignment: center;
}




#anzahl-column	{
	-fx-background-radius: 0px 5px 0px 0px;
}